/* Estilos generales */
body {

    font-family: 'Fira Code', monospace; /* Fuente tipo programador */
    background: url('background.gif') no-repeat center center fixed;
    background-size: cover; /* Ajusta el tamaño para que cubra toda la pantalla */
    color: #c9d1d9;
    text-align: center;
    margin: 0;
    padding: 0;



}

@font-face {
    font-family: 'The Glorious';
    src: url('titulo.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'The Glorious', serif;
    font-size: 10rem; /* Ajusta el tamaño a tu gusto */
    text-align: center;
    color: #fff; /* Cambia el color según tu diseño */
    margin-top: 40px;
}




/* Estilo del header */
header {
    padding: 40px;
    font-size: 2.5rem;
    font-weight: 600;
}

/* Estilos de la carta */
.card-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.card {
    position: absolute;
    top: 60%; /* Sube la carta */
    left: 50%;
    transform: translate(-50%, -50%); /* Centra bien */
    width: 250px; /* Ajusta tamaño */
    height: 350px; /* Ajusta tamaño */
    transition: transform 0.3s ease-in-out;
}

.card-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s ease-in-out;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card:hover {
    transform: translate(-50%, -50%) rotateY(180deg); /* Voltea al pasar el mouse */
}

.card-front, .card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.card-back {
    transform: rotateY(180deg);
}

/* Estilos para los proyectos */
.projects {
    margin-top: 100px;
}

.project {
    background-color: #161b22;
    padding: 60px;
    margin: 50px auto;
    width: 80%;
    font-size: 1.8rem;
    border-radius: 10px;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
